# Global snippets

# (c) holds no legal value ;)
snippet c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` `g:snips_author`. All Rights Reserved.${1}
snippet date
	`strftime("%d.%m.%Y")`
snippet name
	`g:snips_author`
